name: gym_app
description: A mobile-first fitness tracking application.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=2.18.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6

  # TODO: Add packages as needed
  # flutter_riverpod: ^2.4.0
  # go_router: ^12.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/onboard1.png
    - assets/onboard2.png
    - assets/onboard3.png
